<mat-card>

    <div id="logo-container">
        <img src="../../../assets/images/demo-logo.jpg" alt="logo">
    </div>


    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
        <mat-form-field>
            <input type="email" matInput name="email" ngModel #emailInput="ngModel" required placeholder="Email">
            <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
        </mat-form-field>

        <mat-form-field>
            <input type="password" matInput name="password" ngModel #passwordInput="ngModel" required
                placeholder="Password">
            <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
        </mat-form-field>

        <button mat-button id="login-btn" type="submit">Login</button>
        <button mat-button color="primary" type="button">Signup</button>
    </form>
</mat-card>