<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">
            Are you sure you want to logout?
        </h1>
    </header>

    <section id="modal-body">
        <p> Please save all your work before you logout..</p>
    </section>

    <footer id="modal-footer">
        <button mat-raised-button id="modal-action-button" (click)="actionFunction()">Logout</button>
        <button mat-raised-button id="modal-cancel-button" (click)="closeModal()">Cancel</button>
    </footer>
</div>