<div class="container">
    <div class="row">
        <div class="col-lg-6 col">
            <line-chart></line-chart>
        </div>
        <!-- <div class="col-lg-2">
        </div> -->
        <div class="col-lg-6 col">
            <bar-chart></bar-chart>
        </div>
        <div class="col-lg-6 col">
            <doughnut-chart></doughnut-chart>
        </div>
        <div class="col-lg-6 col">
            <radar-chart></radar-chart>
        </div>
        <div class="col-lg-6 col">
            <pie-chart></pie-chart>
        </div>
        <div class="col-lg-6 col">
            <bubble-chart></bubble-chart>
        </div>
    </div>
</div>